<link rel="stylesheet" href="../css/footer.css">

<footer>
    <div id="footer-box">
        <div class="footer-section" id="footer-reserved">
            <img src="../assets/img/logoAnzolBlack.png" alt="Logo Anzol">
            <p>@2025 - Leonardo Faustino - All Rights Reserved</p>
        </div>

        <div class="footer-section" id="footer-menu">
            <p><strong>MENU</strong></p>
            <a href="#">Link Teste 1</a>
            <a href="#">Link Teste 2</a>
            <a href="#">Link Teste 3</a>
        </div>

        <div class="footer-section" id="footer-links">
            <p><strong>LINKS IMPORTANTES</strong></p>
            <a href="#">Link Importante 1</a>
        </div>

        <div class="footer-section" id="footer-social-media">
            <p><strong>REDES SOCIAIS</strong></p>
            <a href="#">Instagram</a>
            <a href="#">LinkedIn</a>
        </div>
    </div>
</footer>
