<header>
    <nav id="task-bar">
        <div id="task-bar-logo">
            <img src="../assets/img/logoAnzolWhite.png" alt="Logo">
        </div>

        <div id="task-bar-links">
            <ul>
                <li><a href="#">Início</a></li>
                <li><a href="#">Sobre</a></li>
                <li><a href="#">Treinamentos</a></li>
                <li><a href="#">Certificação</a></li>
            </ul>
        </div>

        <div id="task-bar-perfil">
            <img src="../assets/img/LogoPerfil.png" alt="Perfil">
        </div>
    </nav>
</header>